.body { 
    height: 230px;
    width: auto;
}
.container { 
    height: 100px;
    width: auto;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.box { 
    background-color: lightseagreen;
    border-style: double;
    border: 20px red;
    padding: 5px;

}
#logo { 
    color: red;
    font-weight: 600;
    font-size: x-large;
    margin-left: 350px;
    margin-right: 350px;
    
}